AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# Define the Snowflake connection via Airflow environment variable
# Format is: snowflake://<user>:<password>@<account_identifier>/<database>?role=<role>&warehouse=<warehouse>&schema=<schema>
AIRFLOW_CONN_SNOWFLAKE_DEFAULT=snowflake://YOUR_USER:YOUR_PASSWORD@YOUR_ACCOUNT/YOUR_DATABASE?role=YOUR_ROLE&warehouse=YOUR_WAREHOUSE&schema=YOUR_SCHEMA
